:root {
    --color-violet: #86647A;
    --color-olive: #a5a281;
    --color-cream: #eae6dc;



}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Nunito:wght@200;300&family=Oswald:wght@300;400&display=swap');

.filter-cream {
    filter: invert(100%) sepia(2%) saturate(6910%) hue-rotate(306deg) brightness(88%) contrast(107%);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-cream);
    align-items: center;
    font-family: 'Nunito', sans-serif;
    
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}


/* NOSOTROS */
.card1-aboutus div {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    color: var(--color-cream); 
    justify-content: center;
    margin-left: 4%;
    font-size: 20px;
    
}

.card1-aboutus {
    margin-bottom: 5%;
    background-color: var(--color-olive);
    box-sizing: content-box;
    width: 80vw;
    display: flex;
    padding: 20px;
    border-radius: 25px;
    margin-top: 5%;
}

.imagensocias{
    border-radius: 15px;
    max-width: 50%;
    margin: 10px;
    height: 70%;   
}

.card1-aboutus-tit{
    text-align: left;
    font-size: 250%;
    color: var(--color-cream); 
}

/* HEADER NABVAR */
.header {
    background-color: var(--color-violet);
}
.header-title {
    text-align: center;
    padding: 10px;
}
.title-logo {
    width: 45%;
}

.social-icon {
    width: 50%;
}
/* HAMBURGER MENU */
.check-box , .close-box{
    display: none;
} 
.check-btn{
    width: 10%;
    position: absolute;
    float: right;
    top: 15px;
    right: 10px;
    cursor: pointer;
    z-index: 50;
}

.check-btn-img {
    width: 30px;
}
.close-btn-img {
    width: 15px;
}
.close-btn {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
}
.navbar-nav{
    display:block;
    position: fixed;
    width: 100%;
    background: var(--color-olive);
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 40;
}
.navbar-main-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.navbar-main-list-item {
    text-decoration: none;
    color: var(--color-cream);
    font-size: 16px;
}
.navbar-main-list li{
    display: block;
    padding: 20px;
    line-height: 30px;
}

.check-box:checked ~ .navbar-nav{
    left: 0;
}
.close-box:checked ~ .navbar-nav{
    left: -100%;
}

/* MAIN */
main {
    background-color: var(--color-cream);
}

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-1 {
    height: 35vh;
    width: 100vw;
    text-align: center;
    position: relative;
    background-color: var(--color-olive);

}

.card-1::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("./assets/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
}

.card-1-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    background-color: var(--color-olive);
    border-radius: 15px;
    color: var(--color-cream);
    border: 1px solid var(--color-cream);
}

.btn-bg {
    padding: 10px 25px;
    font-size: 20px;
}

.btn-md {
    font-size: 16px;
}

.card-1-text {
    color: var(--color-cream);
    font-size: 20px;
    text-shadow: -4px 4px 5px var(--color-violet);
}

.cocina-x-muj {
    width: 70%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-violet);
}

.card-2 {
    background-color: var(--color-olive);
    box-sizing: content-box;
    width: 80vw;
    display: flex;
    padding: 20px;
    border-radius: 25px;
    margin: 50px auto;
}

.card-2 img {
    max-width: 50%;
    margin: 10px;
}

.card-2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    color: var(--color-cream);
    text-align: center;
}

.cards {
    width: 100vw;
    background-image: url(./assets/bg-home.jpg);
    /* background-image: url(./assets/RRSS/Tamiz_imagen\ feed-37.jpg); */
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: center;
    padding: 60px auto;
}

.box-card-3 {
    background-color: var(--color-olive);
    box-sizing: content-box;
    width: 80vw;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    color: var(--color-cream);
    margin: 10px;
}

.box-card-3 img {
    max-width: 30%;
}

/* CONTACT-US */
.main-form {
    display: flex;
    margin: 50px;
    background-color: var(--color-violet);
    border-radius: 100px;
    padding: 60px auto;
    justify-content: center;
}

.titulo {
    text-align: center;
    color: var(--color-cream);
    font-size: 44px;

}

.label {
    color: var(--color-cream);
    display: flex;
    flex-direction: column;
    text-align: left;
}

form {
    font-size: 20px;
}

ul {
    list-style-type: none;
    /* hace que las listas no sean con "puntos"*/
    list-style-position: inside;
    padding: 0;
}

input[type=text] {

    padding: 10px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid var(--color-cream);
    border-radius: 2px;
    background: var(--color-cream);
}

textarea {

    padding: 10px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid var(--color-cream);
    border-radius: 4px;
    background: var(--color-cream);
}

.boton {
    position: relative;
    background-color: var(--color-cream);
    /* Green */
    border: none;
    color: var(--color-violet);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
}

.area-boton {
    text-align: center;
}

/* GALLERY */

.cycle-slideshow {
    width: 50%
}

.cycle-slideshow img {
    width: 100%;
    height: auto
}

/* FOOTER */
.footer {
    background-color: var(--color-violet);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-cream);
    padding: 0 10px;

}

.footer-logo-box {
    max-width: 30%;
}

.footer-logo {
    width: 50%;
}

.footer-navbar {
    list-style-type: none;
    padding: 0;

}

.footer-navbar-item {
    text-decoration: none;
    color: var(--color-cream);

}

.social-icon {
    width: 40px;
}

/* CAROUSEL */
.container-carousel {
    display: flex;
    justify-content: center;
}

.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel__actions button#carousel__button--prev {
    margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next {
    margin-right: 20px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: opacity linear;
    }
}


/* For little phones: */
@media screen and (max-width: 300px) {}

/* For tablets: */
@media screen and (min-width: 768px) {
    .check-btn , .close-btn{
        display: none;
    }
    .card-1{ 
        height: 50vh;
    }
    .card-1-text {
        font-size: 40px;
    }
    .title-logo {
        width: 30%;
    }
    .header-title {
        padding-top: 20px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .navbar-nav {
        width: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        background-color: var(--color-violet);
    }
    .navbar-main-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
        padding: 0px;
        margin: 10px 0px;
    }
    .navbar-main-list li{
        padding: 0px;

    }
    .navbar-main-list-item{
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: var(--color-cream);
    }
    .footer-logo {
        width: 30%;
    }
}  
/* For desktop: */
@media screen and (min-width: 1024px) {
    .card-1{ 
        height: 75vh;
    }
    .card-1-text {
        font-size: 42px;
    }
    .cocina-x-muj {
        font-size: 36px;
    }
    
    .box-card-3 {
        margin: 25px;
        max-width: 70vw;
    } 
    .title-logo {
        width: 25%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-logo {  
        margin: 15px;
    }

    .navbar-main-list {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        justify-content: space-around;
        margin: 15px 0px;
    }
    .navbar-main-list-item{
        font-size: 24px;
        padding: 0px;
    }


}


@media (hover: hover) {
    .button:hover {
        background-color: var(--color-violet);
    }

    .navbar-main-list-item:hover {
        border-bottom: 3px solid var(--color-cream);
    }
}
