:root {
    --color-violet: #86647A;
    --color-olive: #a5a281;
    --color-cream: #eae6dc;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Nunito:wght@200;300&family=Oswald:wght@300;400&display=swap');

.filter-cream {
    filter: invert(100%) sepia(2%) saturate(6910%) hue-rotate(306deg) brightness(88%) contrast(107%);
}
.color-violet {
    color: var(--color-violet);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-cream);
    align-items: center;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}


/* NOSOTROS */

.aboutus-text {
    display: flex;
    flex-direction: column;
    color: var(--color-cream);
    justify-content: center;
    font-size: 20px;
    gap: 10px;
    padding: 10px;
}
.aboutus-text p {
    margin: 5px;
    font-size: 20px;
}

.card-aboutus{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    margin-bottom: 5%;
    background-color: var(--color-olive);
    box-sizing: content-box;
    width: 80vw;
    padding: 24px;
    border-radius: 4px;
    margin-top: 5%;
}
.card2-aboutus{
    flex-direction: column;
}
.imagensocias{
    border-radius: 4px;
    max-width: 70%;
    margin: 10px;
    height: 70%;
}

.card1-aboutus-tit{
    text-align: center;
    font-size: 32px;
    color: var(--color-cream);
    text-shadow: -4px 4px 5px var(--color-violet);

}

/* HEADER NABVAR */
.header {
    background-color: var(--color-violet);
    width: 100%;
}
.header-title {
    text-align: center;
    padding: 10px;
}
.title-logo {
    width: 45%;
}

.social-icon {
    width: 50%;
}
/* HAMBURGER MENU */
.check-box , .close-box{
    display: none;
    margin: 0
}
.check-btn{
    width: 10%;
    position: absolute;
    float: right;
    top: 15px;
    right: 10px;
    cursor: pointer;
    z-index: 50;
}

.check-btn-img {
    width: 30px;
}
.close-btn-img {
    width: 15px;

}
.close-btn {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
}
.navbar-nav{
    display:block;
    position: fixed;
    width: 100%;
    background: var(--color-olive);
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 40;
}
.navbar-main-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.navbar-main-list-item {
    text-decoration: none;
    color: var(--color-cream);
    font-size: 16px;
}
.navbar-main-list li{
    display: block;
    padding: 20px;
    line-height: 30px;
}

.check-box:checked ~ .navbar-nav{
    left: 0;
}
.close-box:checked ~ .navbar-nav{
    left: -100%;
}

/* MAIN */
main {
    background-color: var(--color-cream);
}
.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-1 {
    height: 35vh;
    width: 100vw;
    text-align: center;
    position: relative;
    background-color: var(--color-olive);
}
.card-1::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("./assets/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
}
.card-1-content {
    width: 70vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.bnt-link {
    text-decoration: none;
    color: var(--color-violet);
}
.btn-olive {
    background-color: var(--color-olive);
    color: var(--color-cream);
    border: 1px solid var(--color-cream);
    font-style: bold;
}
.btn-bg {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 14px;
}
.btn-md {
    border-radius: 15px;
    width: 200px;
    font-size: 16px;
    padding: 10px 15px;
}
.btn-lt {
    max-width: 100px;
    font-size: 12px;
    padding: 8px 8px;
    border-radius: 10px;
}
.btn-cream{
    background-color: var(--color-cream);
    color: var(--color-olive);
    border: none;

}
.card-1-text {
    color: var(--color-cream);
    font-size: 20px;
    text-shadow: -4px 4px 5px var(--color-violet);
}
.home-text {
    width: 70%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-violet);
    text-align: center;
}

.card-2 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px ;
    border-radius: 20px;
    margin: 30px auto;
    background-color: var(--color-olive);
}
.img-home  {
    max-width: 80%;
    margin: 10px;
    border-radius: 4px;
}
.card-2 h3 {
    margin: 0;
    font-size: 24px;
}
.card-2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-cream);
    text-align: center;
    gap: 15px;
}
.card-2-text p {
    margin: 0;
    font-size: 16px;
}
.card-2-text div{
    display: flex;
    flex-direction: column ;
    gap: 5px;
}
.cards {
    width: 100vw;
    background-image: url(./assets/bg-home.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: center;
    padding: 60px auto;
}
.box-card-3 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-olive);
    color: var(--color-cream);
    box-sizing: content-box;
    padding: 15px;
    margin: 0px;
}
.box-card-3 div{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box-card-3 h3 {
    text-align: center;
}
.box-card-3 img {
    border-radius: 4px;
    max-width: 100%;
    
}

/* CONTACT-US */
.main-form {
    display: flex;
    margin: 40px;
    background-color: var(--color-olive);
    border-radius: 4px;
    padding: 50px 4px;
    justify-content: center;
}
.titulo {
    text-align: center;
    color: var(--color-cream);
    font-size: 44px;

}
.label {
    color: var(--color-cream);
    display: flex;
    flex-direction: column;
    text-align: left;
}
#error {
    text-align: center;
    color: var(--color-cream);
}

form {
    font-size: 20px;
    padding: 10px;
}
ul {
    list-style-type: none;
    /* hace que las listas no sean con "puntos"*/
    list-style-position: inside;
    padding: 0;
}
.form-imput::placeholder{
    font-family: 'Nunito', sans-serif;
    color: var(--color-olive);
}
.form-imput[type=text] {
    padding: 5px 15px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid var(--color-cream);
    border-radius: 2px;
    background: var(--color-cream);
    font-family: 'Nunito', sans-serif;
    color: var(--color-olive);
}
textarea {
    padding: 10px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid var(--color-cream);
    border-radius: 4px;
    background: var(--color-cream);
    font-family: 'Nunito', sans-serif;
    color: var(--color-olive);
}
.boton {
    position: relative;
    background-color: var(--color-cream);
    /* Green */
    border: none;
    color: var(--color-violet);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
}
.area-boton {
    text-align: center;
}

/* CAROUSEL */
.container-carousel {
    display: flex;
    justify-content: center;
}
.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}
    
.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
    
.carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
}
    
.carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel__actions button#carousel__button--prev {
    margin-left: 20px;
}
    
.carousel .carousel__actions button#carousel__button--next {
    margin-right: 20px;
}
    
    @keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}
/* IFRAME YOUTUBE*/
.container-yt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.container-yt iframe {
    max-width: 90%;
}
/* FOOTER */
.footer {
    background-color: var(--color-violet);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-cream);
    padding: 0 10px;
}
.footer-logo-box {
    max-width: 20%;
}
.footer-logo {
    max-width: 60px;
}
.footer-navbar {
    list-style-type: none;

}
.footer-navbar-item {
    text-decoration: none;
    color: var(--color-cream);
    margin: 0 50px;
}
.social-icon {
    width: 40px;
}

/* For little phones: */
@media screen and (max-width: 300px) {}

/* For tablets: */
@media screen and (min-width: 768px) {
    .card-aboutus {
        flex-direction: row;
        gap: 25px;
    }
    .imagensocias{
        border-radius: 4px;
        max-width: 40%;
        margin: 10px;
    }
    .aboutus-text p {
        font-size: 20px;
        margin: 5px;
    }
    .main-form{
        max-width: 70%;
        margin: 20px auto;

    }
    .check-btn , .close-btn{
        display: none;
    }
    .card-1{
        height: 50vh;
    }
    .card-1-text {
        font-size: 40px;
    }
    .title-logo {
        width: 30%;
    }
    .header-title {
        padding-top: 20px;
    }
    .card-2 {
        flex-direction: row;
    }
    .card-2 img{
        max-width: 50%;
    }
    .card-2-text p {
        font-size: 20px;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .navbar-nav {
        width: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        background-color: var(--color-violet);
    }
    .navbar-main-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
        padding: 0px;
        margin: 10px 0px;
    }
    .navbar-main-list li{
        padding: 0px;
    }
    .navbar-main-list-item{
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: var(--color-cream);
    }
    .home-text {
        font-size: 24px;
    }
    .footer-logo-box {
        max-width: 30%;
    }
    .footer-logo {
        max-width: 100px;
    }
    .btn-bg {
        width: 300px;
        padding: 10px 25px;
        font-size: 24px;
    }
    .btn-md {
        width: 200px;
        font-size: 16px;
        padding: 10px 15px;
    }
    .box-card-3 {
        background-color: var(--color-olive);
        box-sizing: content-box;
        width: 80vw;
        display: flex;
        padding: 15px;
        border-radius: 4px;
        color: var(--color-cream);
        margin: 10px;
    }
    .footer {
        justify-content: space-between;
        padding: 0px 30px;
    }
    .footer-navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px
    }
}
/* For desktop: */
@media screen and (min-width: 1024px) {
    .card-1{
        height: 75vh;
    }
    .card-1-text {
        font-size: 42px;
    }
    .home-text {
        font-size: 36px;
    }
    .aboutus-text p {

        font-size: 28px;
    }
    .box-card-3 {
        margin: 25px;
        max-width: 70vw;
    }
    .title-logo {
        width: 25%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-logo {
        margin: 15px;
    }

    .navbar-main-list {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        justify-content: space-around;
        margin: 15px 0px;
    }
    .navbar-main-list-item{
        font-size: 24px;

    }
    .footer-navbar {
        display: flex;
    }
    .footer-navbar-item {
        margin: 0 30px;
    }

}


@media (hover: hover) {
    .btn-olive:hover, .btn-cream:hover {
        background-color: var(--color-cream);
        border: 4px solid var(--color-cream);
    }
    .bnt-link:hover {
        color: var(--color-olive);
    }
    .navbar-main-list-item:hover {
        border-bottom: 3px solid var(--color-cream);
    }
}
